@{
    ViewBag.Title = "About";
}

<article>
    <p>
       This website is a great resource to search for a greate course in a all fields. I hope all people get good training with the help of this website.
    </p>
</article>
<aside>
    <h1>Author</h1>
    <p>
        <div class="profile">
            <img src="~/Images/profile.jpg" />
        </div>
        <h2>Emad Saber</h2>
        <h3>Senior .NET Developer</h3>
        <h4>Email: <a href="mailto:emadsaber89@gmail.com">emadsaber89@gmail.com</a></h4>
        <h4>Mobile: +2 0114 063 7978</h4>
    </p>
</aside>