@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+201140637978</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:emadsaber89@gmail.com">emadsaber89@gmail.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:omda.sharkawy@gmail.com">omda.sharkawy@gmail.com</a></span>
    </p>
</section>

