/*****Customizing Courses Page*******/

.courseLink{
    margin-right: 15px;
    margin-bottom: 35px;
    background-color : #a6c2dd;
    height:auto;
    width:250px;
    display:inline-block;
}
    div .course{
    
        display:inline-block;
        width:250px;
        text-align:center;
    }
        div .course .title
        {
            font-family: 'Monotype Corsiva';
            font-size: xx-large;
            font-weight: bolder;
        }
        div .course .image{
            height : 120px;
            margin : 15px;
            text-align:center;
            display:table;
            margin:0 auto;
        }
            div .course .image img{
                    width:250px;
                    height : 160px;
                    padding : 0px;
                    border-width : 2px;
                    border-color: #000;

            }

/********End of Courses Page*********/