################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coursaty/obj/Debug/Coursaty.csprojResolveAssemblyReference.cache
/Coursaty/App_Data/aspnet-Coursaty-20170214225328.mdf
/Coursaty/App_Data/aspnet-Coursaty-20170214225328_log.ldf
